/**
 * Default variables
 */

 $at-calendar-header-color: #B8BFC6 !default;
 $at-calendar-day-color: #7C86A2 !default;
 $at-calendar-day-size: 72px !default;
 $at-calendar-mark-size: 8px !default;
 $at-calendar-main-color: #6190E8 !default;